/*

stylus -u nib -u rupture -w estilos.styl

*/
@import "https://fonts.googleapis.com/css?family=Ubuntu";
@import "https://fonts.googleapis.com/css?family=Dosis";
@import "https://fonts.googleapis.com/css?family=Sura";
.banner {
  width: 100%;
  height: 100vh;
  background: #464646 url("../../img/bicicleta.jpg") fixed center center;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column;
  justify-content: center;
  aling-items: center;
  text-align: center;
}
.banner .container {
  color: #fff;
}
.banner .container h2 {
  font-size: 2.5em;
  font-family: caviar dreams;
  text-shadow: 1.5px 1.5px 0px #000, -1.5px -1.5px 0px #000, -1px 1px 0px #000, 1px -1px 0px #000;
}
.banner .container a {
  color: #fff;
  box-shadow: 0 0 0 4px #fff;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  width: 200px;
}
@media only screen and (min-width: 600px) {
  .banner {
    height: 100vh;
    overflow: hidden;
  }
  .banner .container {
    absolute: top 280px left 50px;
  }
}
.blog-items h4,
.blog-items p {
  margin: 5px;
}
.blog-items article {
  max-height: 500px;
}
h3 {
  text-align: center;
}
.icons {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em auto;
  height: 80px;
}
.icons p {
  margin: 0 0px;
  padding: 0;
  font-size: 2em;
  flex-wrap: wrap;
  flex: 1 1 auto;
  text-align: center;
}
.icons .igual {
  font-size: 1.1em;
  margin: 1px;
  width: 90px;
}
article {
  text-align: center;
  padding: 0;
  position: relative;
}
article img {
  width: 100%;
  margin-top: 0em;
}
.second-blog {
  background: #333;
  color: #fff;
}
.second-blog h4 {
  text-align: center;
  padding: 1em;
  padding-bottom: 4em;
  font-size: 1.3em;
}
.second-blog article {
  position: relative;
  padding: 60px 1.5em 100px;
  width: 100vw;
}
.second-blog article img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}
.second-blog article h6 {
  font-size: 1.5em;
  margin: 10px;
}
.second-blog article .bio {
  font-family: open sans;
  font-size: 15px;
  max-width: 600px;
  margin: 0 auto;
}
.second-blog article:nth-child(1) {
  background: #03c;
}
.second-blog article:nth-child(1) img {
  border: 10px solid #03c;
}
.second-blog article:nth-child(2) {
  background: #099;
}
.second-blog article:nth-child(2) img {
  border: 10px solid #099;
}
.second-blog article:nth-child(3) {
  background: #c20;
}
.second-blog article:nth-child(3) img {
  border: 10px solid #c20;
}
.sb {
  display: flex;
  flex-flow: wrap;
}
@media only screen and (min-width: 1000px) {
  .sb {
    flex-flow: no-wrap;
  }
}
#menu-bar {
  display: none;
}
header label {
  float: right;
  position: fixed;
  top: 12px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
.menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.85);
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  transform: translateX(-100%);
}
.menu a {
  color: #fff;
  padding: 1em;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(191,191,191,0.5);
}
.menu a:hover {
  background: rgba(0,0,0,0.4);
}
#menu-bar:checked ~ .menu {
  transform: translateX(0%);
}
@media only screen and (min-width: 1050px) {
  .menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0);
    float: right;
    display: flex;
    flex-flow: row;
  }
  .menu a {
    border-bottom: none;
  }
  header label {
    display: none;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: caviar dreams;
  padding-top: 50px;
}
header {
  width: 100%;
  height: 50px;
  background: #000;
  color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0;
}
header h1 {
  font-family: Dosis, sans-serif;
  margin-left: 1px;
  margin-top: 4px;
  margin-bottom: 5px;
  float: left;
}
header a {
  font-family: 'Ubuntu';
  text-decoration: none;
}
.container {
  width: 98%;
  margin: 0 auto;
  max-width: 960px;
}
header {
  height: 62px;
}
header .container {
  display: table;
}
section {
  width: 100%;
  margin-bottom: 20px;
}
footer {
  padding: 0.8em;
}
footer .footer-container {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
}
footer p {
  font-size: 16px;
  text-align: center;
}
footer .sociales {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-size: 38px;
  margin: 0 auto;
}
footer .sociales a {
  color: #333;
  text-decoration: none;
}
