
@import "https://fonts.googleapis.com/css?family=Sura"

.banner
	position relative
	
	img
		width 100vw
		
	.container
		color #fff
		padding-left 10px
		position absolute
		top 35%
		width 80%
		transform translateY(-25%)
		
		h2
			font-size 1.3em
			font-family caviar dreams
			text-shadow 1px 1px 1px #000,-1px -1px 1px #000,-1px 1px 1px #000,1px -1px 1px #000
			
		a 
			color #fff
			box-shadow 0 0 0 2px #fff
			border-radius 5px
			font-size 1.1em
			padding 5px
			text-decoration none
			text-shadow 1px 1px 1px #000,-1px -1px 1px #000,-1px 1px 1px #000,1px -1px 1px #000
			
+above(600px)
	.banner
		height 400px
		overflow hidden
				
		img
			heigth auto 
			min-height 400px
		
		.container
			absolute top 280px left 50px
			

		
		
