
@import "https://fonts.googleapis.com/css?family=Sura"

.banner
	width 100%
	height: 100vh
	
	background: #464646 url("../img/bicicleta.jpg") fixed center center
	background-size: cover	
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-flow column
	justify-content center
	aling-items center
	text-align: center
		
	.container
		color #fff
		max-width 500px		
		
		h2
			font-size 2.5em
			font-family open sans
			text-shadow 1.5px 1.5px 0px #000,-1.5px -1.5px 0px #000,-1px 1px 0px #000,1px -1px 0px #000
			
		a 
			color #fff
			box-shadow 0 0 0 1px #000,0 0 0 4px #fff,0 0 0 5px #000
			border-radius 5px
			font-family: open sans
			font-size 1.5em
			padding 5px
			text-decoration none
			text-shadow 1px 1px 0px #000,-1px -1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000
			width: 200px
			
+above(600px)
	.banner
		height 100vh
		overflow hidden
		
		.container
			absolute top 280px left 50px
			

		
		
