

.blog-items
	// display flex
	// flex-wrap wrap
	// justify-content space-around
	
	h4
	p 
		margin 5px
	article
		min-height 100vh

h3
	text-align center

.icons
	padding 0
	display flex
	justify-content center
	align-items center

	margin 0em auto
	
	height 80px

	p
		margin 0 0px
		padding 0
		font-size 2em
		flex-wrap wrap
		flex 1 1 auto
		text-align center
	.igual
		font-size 1.1em
		margin 1px
		width 90px

article
	text-align center
	padding 0
	position relative

	img
		width 100%
		margin-top 0em
		
.second-blog
	background #333
	color #fff
	
	h4
		text-align center
		padding 1em
		padding-bottom 4em
		font-size 1.3em
	
	article
		position relative
		padding 60px 1.5em 100px
		width 100vw
		
		
		img
			width 120px
			height 120px
			border-radius 50%			
			position absolute
			bottom 100%
			left 50%
			
			transform translateX(-50%) translateY(50%)
			
		h6
			font-size 1.5em
			margin 10px
			
		.bio 
			font-family open sans
			font-size 15px	
			max-width 600px
			margin 0 auto		
		
		&:nth-child(1)
			background hsl(225, 100%, 40%)
			img
				border 10px solid hsl(225, 100%, 40%)
				
		&:nth-child(2)
			background hsl(180, 100%, 30%)
			img
				border 10px solid hsl(180, 100%, 30%)
				
		&:nth-child(3)
			background hsl(10, 100%, 40%)
			img
				border 10px solid hsl(10, 100%, 40%)				
		
.sb 
	display flex
	flex-flow wrap
	

+above(1000px)
	.sb
		flex-flow no-wrap
