
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-tumblr:before { content: '\e801'; } /* '' */
.icon-spotify:before { content: '\e802'; } /* '' */
.icon-pinterest-circled:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-movie:before { content: '\e806'; } /* '' */
.icon-claqueta:before { content: '\e807'; } /* '' */
.icon-video:before { content: '\e808'; } /* '' */